<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.MainMapper">

    <select id="getMenuList" resultType="map">
        select
                men_id,
                men_name,
                men_up_no,
                men_disp_no,
                men_ord,
                men_url
            from tbl_subway_menu
    </select>




</mapper>